{% extends "template.twig" %}

{% block layout %}



<div class="project__items content">


	<h1 class="project__heading">
        <span>{{ project.name }}</span>
		<span class="lightweight pill">{{ project.job_code }}</span>
	</h1>



	<p class='intro lightweight'>
		{{ project.description }}
	</p>


    <div class="mt-xl">
        <p>
            {#<a href="/project/{{name}}">{{client.name}}</a>#}

            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ edit }}" class='btn btn-outline -subtle-blue'>Edit this project</a>
            {% endif %}

            {% if project.basecamp_url %}

                <a href="{{ project.basecamp_url }}" class='btn btn-outline'>See this project on basecamp</a>
            {% endif %}
        </p>

    </div>

	{% if project.blocks|length == 0 %} 
	<p>
		No images yet
	</p>
	{% endif %}
	{% for group in project.blocks %}
		{% if "children" in group|keys %}
			<h4>
				{{group.name}} - {{ macros.date_modified(group.date|default("")) }}
			</h4>
			{% for child in group.children %}
				{% if loop.first %}<dl>{% endif %}
					{% include "project-item.twig" with {"data": child, "group": group.name} %}
				
				{% if loop.last %}</dl>{% endif %}
			{% endfor %}
			
		{% else %}
			{% include "project-item.twig" with {"data": group} %}
		{% endif %}
	
	{% endfor %}
</div>


{% endblock %}