{% extends "template.twig" %}

{% block content_outer %}

<div class="project__meta content">
	


	{% if is_granted('ROLE_ADMIN') %}
	<p>
		<a href="/edit/{{ name }}" class='btn btn-primary'>Edit this client</a>
	</p>
	{% endif %}
</div>
<div class="content">
	<div class="clearfix client__header">
		<div class="right">
			<img src="{{client.logo}}">
		</div>
		<div>
			<h1>{{client.name}}</h1>
			<p>
				{{client.url}}
			</p>
		</div>
	</div>
	

	
	{% if client.projects|length == 0 %} 
	<p>
		No projects
	</p>
	{% endif %}
	{% for project in client.projects %}
		{% if loop.first %}<ul class='list'>{% endif %}
		<h2>
			{%- if project.data -%}
			<span class="lightweight">{{ project.data.job_code|default("") }} </span>	
			{%- endif -%}
			<a href="{{project.name}}">
			{%- if project.data -%}
			{{project.data.name}}
			{%- else -%}
			{{project.name}}
			{%- endif -%}
			</a>
		</h2>
		<p>
			{{ macros.date_modified(project.mtime) }}
		</p>
		
		{% if loop.last %}</ul>{% endif %}

	{% endfor %}
</div>


{% endblock %}